$blue: #2b4074;
$white: #ffffff;
$primary-text-color: #4a4a4a;
$secondary-text-color: #797979;
$bg-color: #f9f6e5;
$border-color: #cccccc;
$icon-text: #9b9b9b;

$font-family: 'Roboto', sans-serif;
$font-size: 16px;
$line-height: 1.12;
$font-wight: 400;
